{% extends 'base.html.twig' %}

{% block title %}CompositionMenu index{% endblock %}

{% block body %}
    <h1>CompositionMenu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composition_menu in composition_menus %}
            <tr>
                <td>{{ composition_menu.id }}</td>
                <td>{{ composition_menu.quantite }}</td>
                <td>
                    <a href="{{ path('app_composition_menu_show', {'id': composition_menu.id}) }}">show</a>
                    <a href="{{ path('app_composition_menu_edit', {'id': composition_menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_composition_menu_new') }}">Create new</a>
{% endblock %}
