{% extends 'base.html.twig' %}

{% block title %}Adoptant{% endblock %}

{% block body %}
<main>
    <h1>Adoptant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adoptant.id }}</td>
            </tr>
            <tr>
                <th>NomAdoptant</th>
                <td>{{ adoptant.nomAdoptant }}</td>
            </tr>
            <tr>
                <th>PrenomAdoptant</th>
                <td>{{ adoptant.prenomAdoptant }}</td>
            </tr>
            <tr>
                <th>AdresseAdoptant</th>
                <td>{{ adoptant.adresseAdoptant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adoptant_index') }}">back to Adoptants</a>
    <a href="{{ path('app_animal_index') }}">back to Animals</a>

    <a href="{{ path('app_adoptant_edit', {'id': adoptant.id}) }}">edit</a>
    </main>

   
{% endblock %}
