{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<main>

<img src="{{ asset('images/leZoo.jpg') }}" alt="Logo">

<a href="{{ path('app_animal_index') }}" class = "acceuil">Voir les animaux</a>


</main>
        <h1>{{ title }}</h1>
        <p>On dit merci qui ? Merci Brigitte !</p>
        
        <a href="{{ path('app_animal_index') }}">Voir les animaux</a>
        <a href="{{ path('app_adoptant_index') }}">Voir les adoptants</a>
        <a href="{{ path('app_employe_index') }}">Voir les employés</a>

    </header>

    <main>

<img src="{{ asset('images/leZoo.jpg') }}" alt="Logo">

<a href="{{ path('app_animal_index') }}" class = "acceuil">Voir les animaux</a>


</main>
</body>




        
{% endblock %}
