{% extends 'base.html.twig' %}

{% block title %}Aliment{% endblock %}

{% block body %}
    <h1>Aliment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aliment.id }}</td>
            </tr>
            <tr>
                <th>NomAliment</th>
                <td>{{ aliment.nomAliment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_aliment_index') }}">back to list</a>

    <a href="{{ path('app_aliment_edit', {'id': aliment.id}) }}">edit</a>

    {{ include('aliment/_delete_form.html.twig') }}
{% endblock %}
