{% extends 'base.html.twig' %}

{% block title %}Comportement{% endblock %}

{% block body %}
    <h1>Comportement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comportement.id }}</td>
            </tr>
            <tr>
                <th>TypeComportement</th>
                <td>{{ comportement.typeComportement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comportement_index') }}">back to list</a>

    <a href="{{ path('app_comportement_edit', {'id': comportement.id}) }}">edit</a>

    {{ include('comportement/_delete_form.html.twig') }}
{% endblock %}
